PORT=

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

FRONTEND_URL=
NODE_ENV=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SEED_INVENTARIO_EMAIL=
SEED_INVENTARIO_PASSWORD=

SEED_TECNICO_EMAIL=
SEED_TECNICO_PASSWORD=

SEED_CONSULTA_EMAIL=
SEED_CONSULTA_PASSWORD=